

<div class="jumbotron mt-4">
  <button id="getProducts" type="submit" name="button" class="btn btn-success btn-block">
    GET PRODUCTS
  </button>

  <hr class="my-4">
  <form action="" class="" id="productForm">
    <div class="form-group">
      <input type="text" id="newProduct" name="" value="">
      <button type="submit" class="btn btn-primary">Create Product</button>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr class="table-success">
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

    </tbody>


  </table>
</div>
